@using TeamHost.Application.Features.Games.DTOs
@model GetAllGamesResponse
@{
    ViewData["Title"] = "Games Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul class="uk-breadcrumb">
    <li><a asp-area="Store" asp-controller="Home" asp-action="Index"><span data-uk-icon="chevron-left"></span><span>Back to Store</span></a></li>
    <li><span>@Model.Name</span></li>
</ul>
<h3 class="uk-text-lead">@Model.Name</h3>
<div class="uk-grid uk-grid-small" data-uk-grid>
    <div class="uk-width-1-3@xl">
        <div class="game-profile-card">
            <div class="game-profile-card__media"><img src=@Model.MainImagePath alt="game-profile-card"></div>
            <div class="game-profile-card__intro"><span>@Model.Description</span></div>
            <ul class="game-profile-card__list">
                <li>
                    <div>Reviews:</div>
                    <div class="game-card__rating"><span>@Model.Rating</span><i class="ico_star"></i><span class="rating-vote">(433)</span></div>
                </li>
                <li>
                    <div>Release date:</div>
                    <div>@Model.ReleaseDate</div>
                </li>
                <li>
                    <div>Developer:</div>
                    <div>@Model.Companies.Name</div>
                </li>
                <li>
                    <div>Platforms:</div>
                    @foreach(var platform in Model.Platforms)
                    {
                        
                        <div>@platform.Code</div>
                        
                    }
                </li>
            </ul>
            <ul class="game-profile-card__type">
                <li><span>Strategy</span></li>
                <li><span>Survival</span></li>
                <li><span>City Builder</span></li>
                <li><span>Dark</span></li>
            </ul>
        </div>
        <div class="game-profile-price">
            <div class="game-profile-price__value">$@Model.Price USD</div>
            <form asp-area="Store" asp-controller="Home" asp-action="BuyGame" method="post">
                <input type="hidden" name="gameId" value="@Model.Id" />
                <button class="uk-button uk-button-danger uk-width-1-1" type="submit">
                    <span class="ico_shopping-cart"></span><span>Buy Now</span>
                </button>
            </form>
            <button class="uk-button uk-button-primary uk-width-1-1" type="button">
                <span class="ico_add-square"></span><span>Add to Favourites</span>
            </button>
        </div>
    </div>
</div>